* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.row {
	width: 100%;
}

.nav {
	margin: 0;
	padding: 0
}

.tp {
	width: 100%;
	height: 33px;
	background: #f5f5f5;
	line-height: 33px;
}

.col-md-3 a {
	text-decoration: none;
	color: #000000;
}

.col-md-4 a {
	text-decoration: none;
	color: #000000;
}

.tp1 {
	width: 1100px;
	height: 145px;
	/*background: pink;*/
	margin: auto;
}

.col-md-3 a p img {
	padding-top: 34px;
}

#tu {
	padding-top: 20px;
	padding-left: 42px;
}

.col-md-5 .sou {
	height: 27px;
	margin-left: 50px;
	margin-top: 55px;
	width: 360px;
	border: 1px solid #cccccc;
	border-radius: 5px 0 0 5px;
}

.btn {
	padding: 4px 11px;
}

.btn-search {
	background: #f8a7c6;
	margin-left: -4px;
	margin-top: -4px;
	border-radius: 0 5px 5px 0;
	height: 28px;
}

.btn-search span {
	border: none;
}

.hots {
	margin-left: 65px;
}

.hots a {
	color: #000000;
}

.tp2 ul li {
	float: left;
	padding-left: 50px;
}

.tp2 ul {
	padding-left: 240px;
}

.tp2 ul li a {
	color: #000000;
}

.tp2 ul li a:hover {
	color: pink;
	text-decoration: none;
}

.tp3 a {
	text-decoration: none;
	float: right;
	color: #000000;
	width: 137px;
	margin-right: 100px;
}

.tp3 .gouwu {
	width: 200px;
	height: 75px;
	display: none;
	color: #000000;
	background: #FFFFFF;
	position: absolute;
	left: 987px;
	top: 209px;
	line-height: 75px;
	text-align: center;
}

.tp3 span:hover .gouwu {
	display: block;
}

.tp4 {
	background: url(../img/bg-top.png) repeat-x;
	padding-top: 40px;
	margin-top: 31px;
}

.tp5 .shang {
	text-decoration: none;
	width: 140px;
	/*height: 400px;*/
	position: absolute;
	background: url(../img/nav-left.jpg) repeat-x;
	color: #FFFFFF;
	left: 85px;
	text-align: center;
	line-height: 40px;
}

.dao {
	position: absolute;
	width: 140px;
	height: 340px;
	background: #FFFFFF;
	opacity: 0.95;
	left: 85px;
	top: 218px;
	z-index: 999;
}

.dao li {
	background: url(../img/category-list-line.jpg) no-repeat;
	height: 25px;
	line-height: 25px;
}

.dao li a {
	text-decoration: none;
	padding-left: 10px;
	color: #000000;
}

.dao li i {
	float: right;
	padding-right: 10px;
}

.dao ul li .tp6 {
	display: none;
	background: #FFFFFF;
	opacity: 0.9;
	float: left;
	position: absolute;
	left: 140px;
	top: -0.8px;
	height: 342px;
}

.dao ul li:hover .tp6 {
	display: block;
}

.dao ul li:hover {
	font-weight: bold;
}

.dao ul li .tp6 .padding .left {
	float: left;
	width: 200px;
	height: 40px;
	border-bottom: 1px dashed #CCCCCC;
}

.dao ul li .tp6 .padding .left a {
	line-height: 40px;
	font-weight: normal;
}

.zuo {
	border-left: 1px dashed #CCCCCC;
	height: 342px;
	padding-top: 10px;
}

.zuo a:first-child {
	padding-left: 25px;
}

.zuo a:last-child {
	padding-left: 40px;
}

.pian {
	width: 100%;
	height: 100%;
	background: pink;
	overflow: hidden;
}

.dao {
	display: none;
	position: absolute;
	width: 140px;
	height: 340px;
	background: #FFFFFF;
	opacity: 0.95;
	left: 85px;
	top: 218px;
}

.dao li {
	background: url(../img/category-list-line.jpg) no-repeat;
	height: 25px;
	line-height: 25px;
}

.dao li a {
	text-decoration: none;
	padding-left: 10px;
	color: #000000;
}

.dao li i {
	float: right;
	padding-right: 10px;
}

.dao ul li .tp6 {
	display: none;
	background: #FFFFFF;
	opacity: 0.9;
	float: left;
	position: absolute;
	left: 140px;
	top: -0.8px;
	height: 342px;
}

.dao ul li:hover .tp6 {
	display: block;
}

.dao ul li:hover {
	font-weight: bold;
}

.dao ul li .tp6 .padding .left {
	float: left;
	width: 200px;
	height: 40px;
	border-bottom: 1px dashed #CCCCCC;
}

.dao ul li .tp6 .padding .left a {
	line-height: 40px;
	font-weight: normal;
}

.zuo {
	border-left: 1px dashed #CCCCCC;
	height: 342px;
	padding-top: 10px;
}

.back {
	background: url(../lankouxiangmu/img/bg-top.png) repeat-x;
	height: 6px;
	margin-top: 34px;
}
.huise{width: 100%; height: 100%;background: #f7f6f4; }
.baise{width: 90%; margin: auto;background: #FFFFFF; }
.bread-crumbs {
    padding-bottom: 10px;
    padding-left: 60px;
    padding-top: 10px;
    line-height: 2;
    background-repeat: no-repeat;
    background-position: right;
}
.bread-crumbs a{color: #000000;}
.small_pic{height: 527px; width: 60%; }
.small_pic ul{position: relative; }
.small_pic ul li{padding-left: 50px; position: absolute;}
.small_pic ul li img{border: 1px solid #999999; }

.xiaotu .u1{ width:350px;overflow: hidden;margin-left: 70px;}
.xiaotu .ul2{overflow: hidden;width:500px;padding-top: 20px; }
.xiaotu .ul2 li{float: left;width: 64px; height: 64px; margin-left: 5px;}
.box{box-sizing:content-box;}
.xiaotu .ul2 li img{width: 60px; height: 60px; border: 1px solid pink;}
.xiaotu{position: relative;}
.xiaotu .left{width: 15px;height:60px;border: 1px solid #f7f6f4; background:#eee; position: absolute;  border-radius: 10px; left: 50px; top: 20px;}
.xiaotu .right{width: 15px;height:60px;border: 1px solid #f7f6f4; background:#eee;position: absolute;border-radius: 10px;    top: 20px; left: 421px;}
 .xiaotu .left .zs{border: 5px solid transparent; width: 0; height: 0; border-right:5px solid ;display: block;     margin-left: -1px;margin-top: 23px; color:#CCCCCC; cursor:default; }  
.xiaotu .right .ys{border: 5px solid transparent; width: 0; height: 0; border-left:5px solid ;display: block;     margin-left: 4px;margin-top: 23px;color: #666; }  


.hide {
				display: none;
			}
			.show {
				display: block;
			}
.xuan{position: relative; width: 440px; }
.xuan .float_layer {
	/*z-index: 999;*/
	width: 100px;
	height: 100px;
	border: 1px solid #000;
	background: #fff;
	filter: alpha(opacity: 30);
	opacity: 0.3;
	position: absolute;
	top: 0;
	left: 50px;
	display: none;
}

.xuan .mark {
	margin-left: 50px;
	width: 100%;
	height: 88%;
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	background: red;
	filter: alpha(opacity: 0);
	opacity: 0;
}

.xuan .big_pic {
	position: absolute;
	top: 0;
	left: 480px;
	width: 400px;
	height: 256px;
	overflow: hidden;
	border: 2px solid #CCC;
	/*display: none;*/
}

.xuan .big_pic img {

	position: absolute;
	top: -30px;
	left: -200px;
}


















.xiahua {
	padding-top: 50px;
	border-bottom: 5px solid palevioletred;
}

.bak {
	width: 1000px;
	height: 100px;
	margin: auto;
	background: url(../img/advantage.png) repeat-x;
	margin-top: 40px;
}

.guan ul li {
	text-align: center;
	margin-top: 10px;
}

.guan ul li a {
	color: #000000;
	font-size: 12px;
	text-decoration: none;
}

.fade1 {
	width: 30px;
	height: 100%;
	background: black;
	position: fixed;
	left: 1233px;
	top: 0;
}

.fade1 .da {
	background-image: url(../img/side-logo.png);
	margin-top: 220px;
	height: 30px;
	width: 30px;
	display: block;
}

.fade1 .da:hover {
	background-color: #f53998;
}

.car {
	width: 30px;
	height: auto;
	border-top: solid 1px #DDDDDD;
	margin: 30px 0;
	border-bottom: solid 1px #ddd;
	text-align: center;
}

.car .zi {
	color: #fff;
	text-decoration: none;
}

.car:hover {
	background: #f53998;
}

.zc {
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/side-zc.png);
	margin-bottom: 10px;
}

.zc:hover {
	background-color: #f53998;
}

.sc {
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/side-sc.png);
	margin-bottom: 10px;
}

.sc:hover {
	background-color: #f53998
}

.cz {
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/side-cz.png);
	margin-bottom: 10px;
}

.cz:hover {
	background-color: #f53998;
}

.sideqq {
	position: fixed;
	display: block;
	width: 30px;
	height: 30px;
	background-image: url(../img/side-qq.png);
	margin-bottom: 10px;
	left: 1233px;
	top: 550px;
}

.sideqq .qq:hover {
	background-color: #f53998;
}

.sideqq .qq {
	display: block;
	width: 30px;
	height: 30px;
	background-image: url(../img/side-qq.png);
}

.service-wrap {
	display: none;
	position: absolute;
	left: -135px;
	top: -360px;
	width: 135px;
	background: url(../img/service-wrap.png);
	padding-right: 20px;
}

.service-wrap -btn {
	text-align: right;
	display: block;
	height: 30px;
	line-height: 30px;
	color: #000000;
	text-decoration: none;
}

.service-wrap .back-btn:visited {
	display: none;
}

.service-wrap h2 {
	line-height: 20px;
	margin-top: 0;
	background: #f53998;
	color: #fff;
	text-align: center;
	font-size: 14px;
}

.pre-sales,
.after-sales {
	border-bottom: dashed 1px #999;
}

.service-wrap h3 {
	line-height: 15px;
	padding-top: 6px;
	font-size: 14px;
	color: #645957;
	padding-left: 10px;
}

.service-wrap h4 {
	line-height: 15px;
	padding-left: 6px;
	font-size: 16px;
	color: #f53998;
}

.service-wrap .kefu {
	background: url(../img/kefu-icon.png) left no-repeat;
	margin-left: 16px;
	padding-left: 26px;
	display: block;
	height: 30px;
	line-height: 30px;
	color: #000;
	font-weight: 400;
	text-decoration: none;
}

.sideqq .service-wrap a:hover {
	background: none;
}

.service-wrap p {
	padding-left: 6px;
	line-height: 15px;
	color: #666;
}

.side-weixin {
	position: fixed;
	right: -1px;
	top: 840px;
	width: 30px;
	height: 30px;
}

.sid-weixin a:hover {
	background-color: #f53998;
}

.side-weixin a {
	display: block;
	width: 30px;
	height: 30px;
	background-image: url(../img/side-weixin.png);
}

.sideqq .weixin:hover {
	background-color: #f53998;
}

.back-top {
	position: fixed;
	right: -1px;
	top: 870px;
	width: 30px;
	height: 30px;
}

.back-top a {
	display: block;
	width: 30px;
	height: 30px;
	background-image: url(../img/backtop.png);
}

.back-top a:hover {
	background-color: #f53998;
}
